<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="base :: head">
</head>
<body>
	<div
		class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
		<header
			class="demo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600"
			th:replace="base :: menu-superior"> </header>
		<div
			class="demo-drawer mdl-layout__drawer mdl-color--primary mdl-color-text--blue-grey-50"
			th:include="base :: menu-izquierdo"></div>
		<main
			class="mdl-layout__content mdl-color--grey-100 mdl-typography--text-center"
			th:fragment="alerts">
		<!--  Cuando hay alertas -->
		<div th:if="${!#lists.isEmpty(alertsUncheck)}" class="mdl-grid">
			<div th:if="${#lists.isEmpty(alertsUncheck)}" class="watermark">
				<h1>No hay alertas activas de los ultimos 30 días</h1>
			</div>
			<div th:with="numAlert=${alert.getNewsDetect().size()}" th:each="alert : ${alertsUncheck}"
				class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
				<div class="mdl-card__title mdl-color--red-200">
					<h2 class="mdl-card__title-text" th:inline="text">[[${alert.title}]]</h2>
					<span class="mdl-badge vet-alerta-num"
						th:attr="data-badge=${numAlert}" data-badge="4"></span>
				</div>
				<div class="mdl-card__actions mdl-card--border">
					<a th:href="@{/risks/get/{id}(id=${alert.id})}"
						class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Ver
						mas detalles</a>
				</div>
			</div>
		</div>
		</main>
		<footer th:include="base :: footer"> </footer>
		<!-- Load d3.js and c3.js -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"
			charset="utf-8"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
		<script th:src="@{/static/js/datamaps.world.min.js}" src="/datamaps.world.min.js"></script>
		<script th:inline="javascript">
		/*<![CDATA[*/
		           $(document)
				.ready( function(){
					var countries = [[${allCountriesAfects}]];
					var data = {}
					for (var t in countries) {
						var temp = {'fillKey' : t};
						data[t] = temp;
					}
					var map = new Datamap({
						element: document.getElementById('container'),
						responsive: true,
						fills: countries,
				        data: data
					});
					//alternatively with d3
				    d3.select(window).on('resize', function() {
				        map.resize();
				    });
					var daysN = ["Domingo","Lunes","Martes","Miercoles","Jueves","Viernes","Sabado"];
						var stats = [[${graph}]];
						var news = [];
						var alerts = [];
						var days = [];
						var i = 0;
						for (i = 0; i < (stats.length - 1) ; i++) {
							var date = new Date(stats[i].date);
					        news[i] = stats[i].numNews;
					        alerts[i] = stats[i].numAlerts;
					        days[i] = daysN[date.getDay()] + " " + date.getDate();
					    }
						var date = new Date(stats[i].date);
				        news[i] = stats[i].numNews;
				        alerts[i] = stats[i].numAlerts;
				        days[i] = "Hoy, " + daysN[date.getDay()] + " " + date.getDate();
			var chart = c3.generate({
				bindto : '#chart',
				data : {
					columns : [
							[ 'Noticias'].concat(news),
							[ 'Alertas'].concat(alerts) ],
					types : {
						Noticias : 'area-spline',
						Alertas : 'area-spline'
					}
				},
				axis : {
					x : {
						type : 'category',
						categories : days
					}
				}
			});});
		           /*]]>*/
		</script>
	</div>
</body>
</html>
