<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="base :: head">
</head>
<body>
	<div
		class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
		<header
			class="demo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600"
			th:replace="base :: menu-superior"> </header>
		<div
			class="demo-drawer mdl-layout__drawer mdl-color--primary mdl-color-text--blue-grey-50"
			th:include="base :: menu-izquierdo"></div>
		<main
			class="mdl-layout__content mdl-color--grey-100 mdl-typography--text-center">
		<div class="doc-page mdl-grid">
			<div class="mdl-cell mdl-cell--1-col"></div>
			<div
				class="mdl-cell mdl-cell--10-col mdl-color--white mdl-shadow--2dp">
				<div th:inline="text"
					class="mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-typography--display-1-color-contrast">
					[[${feed.name==null ? 'Añadir sitio' : 'Editar sitio'}]]</div>
				<form action="#" val:validate="${feed}" th:object="${feed}"
					method="post">
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
					<div class="mdl-cell mdl-cell--3-col">
						<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
							for="rss"> <input type="checkbox"
							class="mdl-switch__input" id="rss" name="isRSS"
							th:checked="*{isRSS}" th:field="*{isRSS}" /> <span
							class="mdl-switch__label">&iquest;Es un sitio con RSS?</span>
						</label>
					</div>
					<div class="mdl-cell mdl-cell--3-col">
						<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
							for="actived"> <input type="checkbox"
							class="mdl-switch__input" id="actived" name="actived"
							th:checked="*{actived}" th:field="*{actived}" /> <span
							class="mdl-switch__label">&iquest;Está aceptado?</span>
						</label>
					</div>
					<div class="mdl-cell mdl-cell--3-col">
						<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
							for="accepted"> <input type="checkbox"
							class="mdl-switch__input" id="accepted" name="accepted"
							th:checked="*{accepted}" th:field="*{accepted}" /> <span
							class="mdl-switch__label">&iquest;Está activado?</span>
						</label>
					</div>
					<div
						class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" th:field="*{name}" />
						<label class="mdl-textfield__label" for="name">Nombre del
							sitio</label>
					</div>
					<div
						class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<select class="mdl-textfield__input" th:field="*{type}">
							<option value="" disabled="disabled" selected="selected">Fiabilidad
								del Sitio</option>
							<option th:each="type : ${enumFiabilidad}" th:value="${type}"
								th:text="${type}">Wireframe</option>
						</select> <label class="mdl-textfield__label">Fiabilidad del Sitio</label>
					</div>
					<div
						class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<select class="mdl-textfield__input" th:field="*{languaje}">
							<option value="" disabled="disabled" selected="selected">Idioma
								del sitio</option>
							<option th:each="type : ${enumLanguaje}" th:value="${type}"
								th:text="${type}">Wireframe</option>
						</select> <label class="mdl-textfield__label">Idioma del Sitio</label>
					</div>
					<div
						class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" th:field="*{url}" />
						<label class="mdl-textfield__label" for="url">Url del
							sitio</label>
					</div>
					<div
						class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text"
							th:field="*{dateFormat}" /> <label class="mdl-textfield__label"
							for="dateFormat">Formato de la fecha(si hay que parsear
							de texto)</label>
					</div>
					<div
						class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text"
							th:field="*{urlNews}" /> <label class="mdl-textfield__label"
							id="labelUrl" for="urlRSS"
							th:text="*{isRSS}?'Url del RSS de noticias':'Url de la primera p&aacute;gina de noticias'">
						</label>
					</div>
					<div
						class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text"
							th:field="*{newsLink}" /> <label class="mdl-textfield__label"
							for="newsLink">Clase CSS para seleccionar las noticias</label>
					</div>
					<div
						class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<select class="mdl-textfield__input" th:field="*{charSet}">
							<option value="" disabled="disabled" selected="selected">Codificación</option>
							<option
								th:each="charSet : ${T(com.ucm.ilsa.veterinaria.domain.CharsetEnum).values()}"
								th:value="${charSet}" th:text="${charSet}">Wireframe</option>
						</select> <label class="mdl-textfield__label">Codificacion del
							Sitio</label>
					</div>
					<div class="doc-page">
						<div class="snippet-padding"></div>
						<table
							class="mdl-data-table mdl-js-data-table mdl-shadow--2dp snippet">
							<thead>
								<tr>
									<th class="mdl-data-table__cell--non-numeric">Contenido</th>
									<th class="mdl-data-table__cell--non-numeric">Selector</th>
									<th>Metadatos</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="mdl-data-table__cell--non-numeric">Titulo</td>
									<td class="mdl-data-table__cell--non-numeric"><div
											class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<input class="mdl-textfield__input" type="text"
												th:field="*{selectorTitle}" /> <label
												class="mdl-textfield__label" for="selectorTitle">Selector
												de Titulo</label>
										</div></td>
									<td><label
										class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
										for="checkbox-1"> <input type="checkbox"
											id="checkbox-1" class="mdl-checkbox__input"
											th:checked="*{selectorTitleMeta}"
											th:field="*{selectorTitleMeta}" /> <span
											class="mdl-checkbox__label">Si</span>
									</label></td>
								</tr>
								<tr>
									<td class="mdl-data-table__cell--non-numeric">Descripción</td>
									<td class="mdl-data-table__cell--non-numeric"><div
											class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<input class="mdl-textfield__input" type="text"
												th:field="*{selectorDescription}" /> <label
												class="mdl-textfield__label" for="selectorTitle">Selector
												de Descripción</label>
										</div></td>
									<td><label
										class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
										for="checkbox-2"> <input type="checkbox"
											id="checkbox-2" class="mdl-checkbox__input"
											th:checked="*{selectorDescriptionMeta}"
											th:field="*{selectorDescriptionMeta}" /> <span
											class="mdl-checkbox__label">Si</span>
									</label></td>
								</tr>
								<tr>
									<td class="mdl-data-table__cell--non-numeric">Contenido</td>
									<td class="mdl-data-table__cell--non-numeric"><div
											class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<input class="mdl-textfield__input" type="text"
												th:field="*{selectorContent}" /> <label
												class="mdl-textfield__label" for="selectorTitle">Selector
												de Contenido</label>
										</div></td>
									<td><label
										class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
										for="checkbox-3"> <input type="checkbox"
											id="checkbox-3" class="mdl-checkbox__input"
											th:checked="*{selectorContentMeta}"
											th:field="*{selectorContentMeta}" /> <span
											class="mdl-checkbox__label">Si</span>
									</label></td>
								</tr>
								<tr>
									<td class="mdl-data-table__cell--non-numeric">Fecha
										Publicación</td>
									<td class="mdl-data-table__cell--non-numeric"><div
											class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<input class="mdl-textfield__input" type="text"
												th:field="*{selectorPubDate}" /> <label
												class="mdl-textfield__label" for="selectorTitle">Selector
												de Fecha Publicación</label>
										</div></td>
									<td><label
										class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
										for="checkbox-4"> <input type="checkbox"
											id="checkbox-4" class="mdl-checkbox__input"
											th:checked="*{selectorPubDateMeta}"
											th:field="*{selectorPubDateMeta}" /> <span
											class="mdl-checkbox__label">Si</span>
									</label></td>
								</tr>
							</tbody>
						</table>
						<div class="snippet-padding"></div>
					</div>
					<div class="mdl-grid">
						<div class="mdl-cell mdl-cell--1-col"></div>
						<div class="mdl-cell mdl-cell--10-col">
							<button class="mdl-button mdl-js-button mdl-color--primary"
								type="submit">Enviar</button>
							<button id="test" data-modal="#modal"
								class="mdl-button mdl-js-button modal__trigger" type="submit"
								name="testFeed">Probar sitio</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		</main>
		<footer th:include="base :: footer"> </footer>
		<!-- Modal -->
		<div id="modal" class="modal modal__bg" role="dialog"
			aria-hidden="true">
			<div class="modal__dialog">
				<div class="modal__content">
					<div id="contenido" style="visibility: hidden;">
						<h3 id="testTitle">Titulo</h3>
						<h5 id="testDate">Fecha</h5>
						<p id="testContent">Contenido</p>
						<p id="testUrl">Url</p>
					</div>
					<div id="testLoad" class="mdl-spinner mdl-js-spinner is-active"></div>
					<!-- modal close button -->
					<a href="" class="modal__close demo-close"> <svg class=""
							viewBox="0 0 24 24">
							<path
								d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z" />
							<path d="M0 0h24v24h-24z" fill="none" /></svg>
					</a>

				</div>
			</div>
		</div>
		<script th:src="@{/static/js/material.modal.js}"
			src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

		<script th:inline="javascript">
			/*<![CDATA[*/
			$(document)
					.ready(
							function() {
								Modal.init();
								if (!$("#rss").is(":checked")) {
									$(".rss").hide();
									$(".html").show();
								} else {
									$(".rss").show();
									$(".html").hide();
								}
								$('#rss')
										.change(
												function() {
													if (!$("#rss").is(
															":checked")) {
														$("#labelUrl")
																.html(
																		"Url de la primera p&aacute;gina de noticias");
													} else {
														$("#labelUrl")
																.html(
																		"Url del RSS de noticias");
													}
												});
								$(".right").submit(function() {
									return false;
								});
								$("#test")
										.click(
												function(event) {
													$(
													"#contenido")
													.css(
															"visibility",
															"hidden")
											$(
													"#testLoad")
													.css(
															"visibility",
															"visible")
													$form = $(this).parents(
															"form");
													$
															.post(
																	$form
																			.attr("action"),
																	$form
																			.serialize()
																			+ "&testFeed=",
																	function(
																			data) {
																		var response = jQuery
																				.parseJSON(JSON
																						.stringify(data));
																		if (response=="") {
																			alert("Error al obtener la noticia");
																		}
																		var date = new Date(
																				response.pubDate);
																		$(
																				"#testTitle")
																				.html(
																						response.title);
																		$(
																				"#testContent")
																				.html(
																						response.content);
																		$(
																				"#testUrl")
																				.html(
																						response.url);
																		$(
																				"#testDate")
																				.html(
																						date);
																		$(
																				"#contenido")
																				.css(
																						"visibility",
																						"visible")
																		$(
																				"#testLoad")
																				.css(
																						"visibility",
																						"hidden")
																	});
													return false;
												});
							});
			/*]]>*/
		</script>
		<script th:inline="javascript">
			/*<![CDATA[*/
			$(document).ready(function() {
				componentHandler.upgradeAllRegistered();
				var mesInfo = /*[[${info}]]*/[];
				var mesError = /*[[${error}]]*/[];
				var notification = document.querySelector('.mdl-js-snackbar');
				for (var i = 0; i < mesInfo.length; i++) {
					notification.MaterialSnackbar.showSnackbar({
						message : mesInfo[i],
						cssColor : 'mdl-color--green',
						timeout : 3000
					});
				}
				for (var i = 0; i < mesError.length; i++) {
					notification.MaterialSnackbar.showSnackbar({
						message : mesInfo[i],
						cssColor : 'mdl-color--red',
						timeout : 3000
					});
				}
			});
			/*]]>*/
		</script>
	</div>
</body>
</html>
