<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="base :: head">
</head>
<body>
	<div
		class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
		<header
			class="demo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600"
			th:replace="base :: menu-superior"> </header>
		<div
			class="demo-drawer mdl-layout__drawer mdl-color--primary mdl-color-text--blue-grey-50"
			th:include="base :: menu-izquierdo"></div>
		<main
			class="mdl-layout__content mdl-color--grey-100 mdl-typography--text-center">
		<div sec:authorize="isAuthenticated()" class="doc-page">
				<a class="mdl-button mdl-js-button mdl-color--primary"
					th:href="@{/admin/feeds/create}" href="#">Añadir nuevo sitio</a>
		</div>
		<div th:if="${#lists.isEmpty(feeds)}" class="watermark">
			<h1>No hay sitios</h1>
		</div>
		<div th:unless="${#lists.isEmpty(feeds)}" class="doc-page">
			<div class="snippet-padding"></div>
			<table
				class="mdl-data-table mdl-js-data-table mdl-shadow--2dp snippet">
				<thead>
					<tr>
						<th class="mdl-data-table__cell--non-numeric">Nombre</th>
						<th>Tipo</th>
						<th>Comprobado</th>
						<th>Activado</th>
						<th sec:authorize="isAuthenticated()">Editar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="feed : ${feeds}">
						<td class="mdl-data-table__cell--non-numeric"><a
							href="#" th:href="@{/feeds/get/{id}(id=${feed.id})}"
							th:text="${feed.name}">Pescados Manolo</a></td>
						<td class="mdl-data-table__cell--non-numeric"
							th:text="${feed.type}">Pescados manolo</td>
						<td class="mdl-data-table__cell--non-numeric"
							th:text="${feed.accepted}">Pescados manolo</td>
						<td class="mdl-data-table__cell--non-numeric"
							th:text="${feed.actived}">Pescados manolo</td>
						<td sec:authorize="isAuthenticated()"><a href="#"
							th:href="@{/admin/feeds/get/{id}/edit(id=${feed.id})}"><i
								class="mdl-color-text--white material-icons" role="presentation">mode-edit</i></a></td>
					</tr>
				</tbody>
			</table>
			<div class="snippet-padding"></div>
		</div>
		</main>
		<footer th:include="base :: footer"> </footer>
	</div>
</body>
</html>
