<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="base :: head">
</head>
<body>
	<div
		class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
		<header
			class="demo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600"
			th:replace="base :: menu-superior"> </header>
		<div
			class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-800 mdl-color-text--primary"
			th:include="base :: menu-izquierdo"></div>
		<main
			class="mdl-layout__content mdl-color--grey-100 mdl-typography--text-center">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--3dp">
				<div class="mdl-card__title mdl-color--primary">
					<h2 class="mdl-card__title-text  mdl-color-text--white" th:inline="text">[[${alert.title}]]</h2>
				</div>
				<div sec:authorize="isAuthenticated()"
					class="mdl-card__actions mdl-card--border">
					<a
						class="confirm-del mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
						th:href="@{/admin/alerts/get/{id}/remove(id=${alert.id})}">
						Borrar </a>
				</div>
			</div>
		</div>

		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			<div class="mdl-tabs__tab-bar">
				<a href="#active-panel" class="mdl-tabs__tab is-active">Activas</a>
				<a href="#history-panel" class="mdl-tabs__tab">Historial</a> <a
					href="#false-panel" class="mdl-tabs__tab">Falsos positivos</a>
			</div>

			<div class="mdl-tabs__panel is-active" id="active-panel">
				<div th:each="day : ${alertActive.getAllNewsDetectOrderByDate()}">
					<span
						th:if="${#dates.format(hoy, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy')}">Hoy</span>
					<span
						th:if="${#dates.format(ayer, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy')}">Ayer</span>
					<span
						th:unless="${#dates.format(hoy, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy') or #dates.format(ayer, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy')}"
						th:text="${#dates.format(day.key, 'dd/MM/yyyy')}">Ayer</span>

					<div class="mdl-grid">
						<div th:each="news : ${day.value}"
							class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--3dp">
							<div class="mdl-card__title mdl-color--primary" th:class="${news.mark?'mdl-card\_\_title mdl-color--green-800':'mdl-card\_\_title mdl-color--primary'}">
								<h2 class="mdl-card__title-text  mdl-color-text--white" th:inline="text">
									<a th:id="${news.id}" class="mdl-color-text--white" target="_blank" th:href="${news.link}"
										href="http://www.google.es">[[${news.title}]]</a>
									<div class="mdl-tooltip" th:for="${news.id}" th:inline="text">
										[[${news.link}]]
										</div>
								</h2>
							</div>
							<div class="mdl-card__supporting-text">
								<div class="mdl-grid">
									<div class="mdl-cell mdl-cell--12-col">
										Sitio: <a th:id="${news.id + '_' + news.site.id}" class="mdl-color-text--primary" target="_blank" th:inline="text" th:href="${news.site.urlSite}"
										href="http://www.google.es">[[${news.site.name}]]</a>
										<div class="mdl-tooltip" th:for="${news.id + '_' + news.site.id}" th:inline="text">
										[[${news.site.urlSite}]]
										</div>
									</div>
								</div>
							</div>
							<div sec:authorize="isAuthenticated()"
								class="mdl-card__actions mdl-card--border">
								<a
									class="confirm-del mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
									th:href="@{/admin/alerts/get/{id}/news/{idNews}/remove(id=${alert.id},idNews=${news.id})}">
									Borrar </a> <a
									class="confirm-false mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
									th:href="@{/admin/alerts/get/{id}/news/{idNews}/false(id=${alert.id},idNews=${news.id})}">
									Marcar falso positivo</a> <a
									class="confirm-history mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
									th:href="@{/admin/alerts/get/{id}/news/{idNews}/history(id=${alert.id},idNews=${news.id})}">
									Marcar como pasado </a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mdl-tabs__panel" id="history-panel">
				<div th:each="day : ${alertHistory.getAllNewsDetectOrderByDate()}">
					<span
						th:if="${#dates.format(hoy, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy')}">Hoy</span>
					<span
						th:if="${#dates.format(ayer, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy')}">Ayer</span>
					<span
						th:unless="${#dates.format(hoy, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy') or #dates.format(ayer, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy')}"
						th:text="${#dates.format(day.key, 'dd/MM/yyyy')}">Ayer</span>

					<div class="mdl-grid">
						<div th:each="news : ${day.value}"
							class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--3dp">
							<div class="mdl-card__title mdl-color--primary">
								<h2 class="mdl-card__title-text  mdl-color-text--white" th:inline="text">
									<a class="mdl-color-text--white" th:href="${news.link}"
										href="http://www.google.es">[[${news.title}]]</a>
								</h2>
							</div>
							<div class="mdl-card__supporting-text">
								<div class="mdl-grid">
									<div class="mdl-cell mdl-cell--5-col">
										<table
											class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
											<thead>
												<tr>
													<th class="mdl-data-table__cell--non-numeric">Termino
														Encontrado</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="word : ${news.wordsDetect}">
													<td th:text="${word}"
														class="mdl-data-table__cell--non-numeric">Acrylic
														(Transparent)</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="mdl-cell mdl-cell--7-col">
										<table
											class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
											<thead>
												<tr>
													<th class="mdl-data-table__cell--non-numeric">Proveedor
														afectado</th>
													<th>Descartar</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="loc : ${news.getCountryWithLocations()}">
													<td th:id="${loc.key}"
														class="mdl-data-table__cell--non-numeric">Acrylic
														(Transparent)</td>
													<td>Pulsa</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div sec:authorize="isAuthenticated()"
								class="mdl-card__actions mdl-card--border">
								<a
									class="confirm-del mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
									th:href="@{/admin/alerts/get/{id}/news/{idNews}/remove(id=${alert.id},idNews=${news.id})}">
									Borrar </a> <a
									class="confirm-false mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
									th:href="@{/admin/alerts/get/{id}/news/{idNews}/false(id=${alert.id},idNews=${news.id})}">
									Marcar falso positivo</a> <a
									class="confirm-active mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
									th:href="@{/admin/alerts/get/{id}/news/{idNews}/active(id=${alert.id},idNews=${news.id})}">
									Marcar como activo </a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="mdl-tabs__panel" id="false-panel">
				<div th:each="day : ${alertFalse.getAllNewsDetectOrderByDate()}">
					<span
						th:if="${#dates.format(hoy, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy')}">Hoy</span>
					<span
						th:if="${#dates.format(ayer, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy')}">Ayer</span>
					<span
						th:unless="${#dates.format(hoy, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy') or #dates.format(ayer, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy')}"
						th:text="${#dates.format(day.key, 'dd/MM/yyyy')}">Ayer</span>

					<div class="mdl-grid">
						<div th:each="news : ${day.value}"
							class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--3dp">
							<div class="mdl-card__title mdl-color--primary">
								<h2 class="mdl-card__title-text  mdl-color-text--white" th:inline="text">
									<a class="mdl-color-text--white" th:href="${news.link}"
										href="http://www.google.es">[[${news.title}]]</a>
								</h2>
							</div>
							<div class="mdl-card__supporting-text">
								<div class="mdl-grid">
									<div class="mdl-cell mdl-cell--5-col">
										<table
											class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
											<thead>
												<tr>
													<th class="mdl-data-table__cell--non-numeric">Termino
														Encontrado</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="word : ${news.wordsDetect}">
													<td th:text="${word}"
														class="mdl-data-table__cell--non-numeric">Acrylic
														(Transparent)</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="mdl-cell mdl-cell--7-col">
										<table
											class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
											<thead>
												<tr>
													<th class="mdl-data-table__cell--non-numeric">Proveedor
														afectado</th>
													<th>Descartar</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="loc : ${news.getCountryWithLocations()}">
													<td th:id="${loc.key}"
														class="mdl-data-table__cell--non-numeric">Acrylic
														(Transparent)</td>
													<td>Pulsa</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div sec:authorize="isAuthenticated()"
								class="mdl-card__actions mdl-card--border">
								<a
									class="confirm-del mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
									th:href="@{/admin/alerts/get/{id}/news/{idNews}/remove(id=${alert.id},idNews=${news.id})}">
									Borrar </a> <a
									class="confirm-active mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
									th:href="@{/admin/alerts/get/{id}/news/{idNews}/active(id=${alert.id},idNews=${news.id})}">
									Marcar como activo</a> <a
									class="confirm-history mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
									th:href="@{/admin/alerts/get/{id}/news/{idNews}/history(id=${alert.id},idNews=${news.id})}">
									Marcar como pasado </a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		</main>
		<footer th:include="base :: footer"> </footer>
		<script type="text/javascript">
			// <![CDATA[
			$(".confirm-del")
					.click(
							function(e) {
								var notification = document
										.querySelector('.mdl-js-snackbar');
								var url = e
										&& (('string' === typeof e && e) || (e.currentTarget && e.currentTarget.attributes['href'].value));
								notification.MaterialSnackbar
										.showSnackbar({
											message : "¿Estas seguro de borrar la alerta seleccionada?",
											cssColor : 'mdl-color--green',
											timeout : 300000,
											actionHandler : function(event) {
												window.location = url;
												notification.MaterialSnackbar
														.cleanup_();
											},
											actionText : 'Si',
											actionHandler2 : function(event) {
												notification.MaterialSnackbar
														.cleanup_();
											},
											actionText2 : 'No'
										});
								return false;
							});
			$(".confirm-active")
			.click(
					function(e) {
						var notification = document
								.querySelector('.mdl-js-snackbar');
						var url = e
								&& (('string' === typeof e && e) || (e.currentTarget && e.currentTarget.attributes['href'].value));
						notification.MaterialSnackbar
								.showSnackbar({
									message : "¿Estas seguro de marcar la noticia indicada a activa?",
									cssColor : 'mdl-color--primary',
									timeout : 300000,
									actionHandler : function(event) {
										window.location = url;
										notification.MaterialSnackbar
												.cleanup_();
									},
									actionText : 'Si',
									actionHandler2 : function(event) {
										notification.MaterialSnackbar
												.cleanup_();
									},
									actionText2 : 'No'
								});
						return false;
					});
			$(".confirm-history")
			.click(
					function(e) {
						var notification = document
								.querySelector('.mdl-js-snackbar');
						var url = e
								&& (('string' === typeof e && e) || (e.currentTarget && e.currentTarget.attributes['href'].value));
						notification.MaterialSnackbar
								.showSnackbar({
									message : "¿Estas seguro de marcar la noticia como pasada?",
									cssColor : 'mdl-color--primary',
									timeout : 300000,
									actionHandler : function(event) {
										window.location = url;
										notification.MaterialSnackbar
												.cleanup_();
									},
									actionText : 'Si',
									actionHandler2 : function(event) {
										notification.MaterialSnackbar
												.cleanup_();
									},
									actionText2 : 'No'
								});
						return false;
					});
			$(".confirm-false")
			.click(
					function(e) {
						var notification = document
								.querySelector('.mdl-js-snackbar');
						var url = e
								&& (('string' === typeof e && e) || (e.currentTarget && e.currentTarget.attributes['href'].value));
						notification.MaterialSnackbar
								.showSnackbar({
									message : "¿Estas seguro de marcar la noticia como falso positivo?",
									cssColor : 'mdl-color--primary',
									timeout : 300000,
									actionHandler : function(event) {
										window.location = url;
										notification.MaterialSnackbar
												.cleanup_();
									},
									actionText : 'Si',
									actionHandler2 : function(event) {
										notification.MaterialSnackbar
												.cleanup_();
									},
									actionText2 : 'No'
								});
						return false;
					});
			$(".confirm-res")
					.click(
							function(e) {
								var notification = document
										.querySelector('.mdl-js-snackbar');
								var url = e
										&& (('string' === typeof e && e) || (e.currentTarget && e.currentTarget.attributes['href'].value));
								notification.MaterialSnackbar
										.showSnackbar({
											message : "¿Estas seguro de resolver(ocultar) la alerta seleccionada?",
											cssColor : 'mdl-color--primary',
											timeout : 300000,
											actionHandler : function(event) {
												window.location = url;
												notification.MaterialSnackbar
														.cleanup_();
											},
											actionText : 'Si',
											actionHandler2 : function(event) {
												notification.MaterialSnackbar
														.cleanup_();
											},
											actionText2 : 'No'
										});
								return false;
							});
			// ]]>
		</script>
	</div>
</body>
</html>
