/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.icon-block {
	padding: 0 15px;
}

.watermark h1 {
	text-align: center;
	color: #c9c9c9;
	text-shadow: 0px 2px 3px #fcfcfc;
}

.no-padding {
	padding: 0 !important;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #e2e2e2;
}

main {
	flex: 1 0 auto;
}

.collapsible-header i {
	line-height: 3rem;
	margin-left: -1rem;
}

span.badge.new::after {
	content: " alertas sin resolver";
}

.collapsible-header {
	padding: 0;
}

.titulo {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}