<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="base :: head">
</head>
<body>
	<header th:include="base :: header"> </header>
	<section class="container" th:fragment="alerts">
		<!--  Cuando no hay alertas -->
		<div
			th:if="${#maps.isEmpty(alertsUncheck) and #maps.isEmpty(alertsCheck)}"
			class="watermark">
			<h1>No hay alertas</h1>
		</div>
		<!--  Cuando hay alertas -->
		<div
			th:if="${!#maps.isEmpty(alertsUncheck) or !#maps.isEmpty(alertsCheck)}"
			class="row">
			<div class="col s12">
				<ul class="tabs transparent">
					<li class="tab col s3"><a class="active" href="#uncheck">Alertas
							sin resolver</a></li>
					<li class="tab col s3"><a href="#check">Alertas resultas</a></li>
				</ul>
			</div>
			<!-- Pestaña alertas activas -->
			<div id="uncheck" class="row">
				<div th:if="${#maps.isEmpty(alertsUncheck)}"
					class="collection-header watermark">
					<h1>No hay alertas sin resolver</h1>
				</div>
				<div th:each="day : ${alertsUncheck}" class="col s12 day">
					<span
						th:if="${#dates.format(hoy, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy')}">Hoy</span>
					<span
						th:if="${#dates.format(ayer, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy')}">Ayer</span>
					<span
						th:unless="${#dates.format(hoy, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy') or #dates.format(ayer, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy')}"
						th:text="${#dates.format(day.key, 'dd/MM/yyyy')}">Ayer</span>
					<ul class="collapsible popout" data-collapsible="accordion">
						<!-- Comienzo de la alerta -->
						<li th:each="alert : ${day.value}">
							<div th:inline="text" class="collapsible-header">
								<i th:if="${alert.level.toString()=='yellow'}"
									class="square yellow">&nbsp;</i> <i
									th:if="${alert.level.toString()=='orange'}"
									class="square orange">&nbsp;</i> <i
									th:if="${alert.level.toString()=='red'}" class="square red">&nbsp;</i>
								[[${alert.title}]] <a sec:authorize="isAuthenticated()"
									th:href="@{/alerts/get/{id}/check(id=${alert.id})}" href="#"><i
									class="mdi-navigation-check tooltipped right"
									data-position="bottom" data-delay="50"
									data-tooltip="Marcar como revisada"></i></a>
							</div>
							<div class="collapsible-body">
								<p th:inline="text">
									<a th:href="${alert.link}"
										href="http://www.google.es">[[${alert.site.name}]] <i
										class="mdi-content-link tooltipped" data-position="bottom"
										data-delay="50" th:attr="data-tooltip=${alert.link}"
										data-tooltip="URL del enlace"></i></a><br/>
									[[${alert.infoAlert}]] 
								</p>
							</div>
						</li>
						<!-- Fin de la alerta -->
					</ul>
				</div>
			</div>
			<!-- Pestaña alertas resueltas -->
			<div id="check" class="row">
				<div th:if="${#maps.isEmpty(alertsCheck)}">
					<h1>No hay alertas resueltas</h1>
				</div>
				<div th:each="day : ${alertsCheck}" class="col s12">
					<span
						th:if="${#dates.format(hoy, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy')}">Hoy</span>
					<span
						th:if="${#dates.format(ayer, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy')}">Ayer</span>
					<span
						th:unless="${#dates.format(hoy, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy') or #dates.format(ayer, 'dd/MM/yyyy')==#dates.format(day.key, 'dd/MM/yyyy')}"
						th:text="${#dates.format(day.key, 'dd/MM/yyyy')}">Ayer</span>
					<ul class="collapsible popout" data-collapsible="accordion">
						<!-- Comienzo de la alerta -->
						<li th:each="alert : ${day.value}">
							<div th:inline="text" class="collapsible-header">
								<i th:if="${alert.level.toString()=='yellow'}"
									class="square yellow">&nbsp;</i> <i
									th:if="${alert.level.toString()=='orange'}"
									class="square orange">&nbsp;</i> <i
									th:if="${alert.level.toString()=='red'}" class="square red">&nbsp;</i>
								[[${alert.title}]] <a sec:authorize="isAuthenticated()"
									th:href="@{/alerts/get/{id}/check(id=${alert.id})}" href="#"></a>
							</div>
							<div class="collapsible-body">
								<p th:inline="text">
									<a th:href="${alert.link}"
										href="http://www.google.es">[[${alert.site.name}]] <i
										class="mdi-content-link tooltipped" data-position="bottom"
										data-delay="50" th:attr="data-tooltip=${alert.link}"
										data-tooltip="URL del enlace"></i></a><br/>
									[[${alert.infoAlert}]] 
								</p>
							</div>
						</li>
						<!-- Fin de la alerta -->
					</ul>
				</div>
			</div>
		</div>
	</section>
	<footer th:include="base :: footer"> </footer>
</body>
</html>
