<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
<title>Project Find News</title>

<!-- CSS  -->
<link th:href="@{/webjars/materialize/css/materialize.css}" href="/css/materialize.css" type="text/css" rel="stylesheet"
	media="screen,projection" />
<link th:href="@{/static/css/style.css}" href="/css/style.css" type="text/css" rel="stylesheet"
	media="screen,projection" />
</head>
<body>
	<header class="navbar-fixed">
		<!-- Dropdown Structure -->
		<ul id="dropdown1" class="dropdown-content">
		  <li><a th:href="@{/admin/feeds/create}" href="#">Crar sitio</a></li>
		  <li><a th:href="@{/admin/locations}" href="#">Localizaciones</a></li>
		</ul>
		<nav class="light-blue lighten-1" role="navigation">
			<div class="container">
				<div class="nav-wrapper">
					<ul class="right">
						<li th:class="((${menu}=='alerts')?'active')"><a th:href="@{/alerts}" href="/alerts">Alertas</a></li>
						<li th:class="((${menu}=='feeds')?'active')"><a th:href="@{/feeds}" href="/feeds">Sitios</a></li>
						<li sec:authorize="!isAuthenticated()"><a th:href="@{/login}" href="#">Acceso</a></li>
						<li th:class="((${menu}=='admin')?'active')" sec:authorize="isAuthenticated()"><a class="dropdown-button" href="#!" data-activates="dropdown1">Administración<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" href="#">Logout</a></li>
					</ul>
					<ul id="nav-mobile" class="side-nav">
						<li><a href="/alerts">Alertas</a></li>
						<li><a href="/feeds">Sitios</a></li>
						<li><a href="#">Acceso</a></li>
					</ul>
					<a href="#" data-activates="nav-mobile" class="button-collapse"><i
						class="mdi-navigation-menu"></i></a>
				</div>
			</div>
		</nav>
	</header>

	<main class="container"></main>
	
	<footer>
		<div id="toast-container"></div>
		<!--  Scripts-->
		<script th:src="@{/webjars/jquery/jquery.min.js}" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script th:src="@{/webjars/materialize/js/materialize.js}" src="/js/materialize.js"></script>
		<script th:inline="javascript">
		/*<![CDATA[*/
			$(document).ready(function(){
			$(".dropdown-button").dropdown({ hover: false });
			var mesInfo = /*[[${info}]]*/ []; 
			var mesError = /*[[${error}]]*/ []; 
	        for (var i = 0; i < mesInfo.length; i++) { 
	         Materialize.toast(mesInfo[i], 10000,'light-green');
	        } 
	        for (var i = 0; i < mesError.length; i++) { 
	         Materialize.toast(mesError[i], 10000,'red');
	        } 
			  });
	  	/*]]>*/
		</script>
	</footer>
</body>
</html>
