<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="base :: head">
</head>
<body>
	<header th:include="base :: header"> </header>
	<section class="container">
	<div th:if="${#lists.isEmpty(feeds)}" class="watermark">
		<h1>No hay sitios</h1>
	</div>
	<div th:unless="${#lists.isEmpty(feeds)}" class="row">
		<div class="col s8 offset-s2">
			<div class="card-panel no-padding">
				<ul class="collection">
					<a th:each="feed : ${feeds}"
						th:href="@{/feeds/get/{codeName}(codeName=${feed.codeName})}"
						href="#!" class="collection-item" th:inline="text">[[${feed.name}]]s
					</a>
				</ul>
			</div>
		</div>
	</div>
	<div sec:authorize="isAuthenticated()" class="row">
		<div class="col s12 m6 l4 offset-m6 offset-l8">
			<a class="btn btn-large col s12" th:href="@{/admin/feeds/create}" href="#">Crear nueva fuente</a>
		</div>
	</div>

	</section>
	<footer th:include="base :: footer"> </footer>
</body>
</html>
