<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="base :: head">
</head>
<body>
	<header th:include="base :: header"> </header>
	<section class="container">
		<div id="modal"></div>
		<div class="row">
			<ul class="collapsible col s10 offset-s1"
				data-collapsible="accordion">
				<li>
					<div
						th:class="${location.id!=null}? 'collapsible-header active' : 'collapsible-header'"
						class="collapsible-header">
						A&ntilde;adir nuevo lugar<i
							class="mdi-hardware-keyboard-arrow-down right"></i>
					</div>
					<div class="collapsible-body">
						<div class="col s10 offset-s1">
							<form action="#"
								th:action="${location.id==null}?@{/admin/locations/create}:@{/admin/locations/get/{id}/edit(id=${location.id})}"
								val:validate="${location}" th:object="${location}" method="post">

								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" />


								<div class="row">
									<div class="input-field col s12">
										<input type="hidden" th:field="*{id}" />
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input type="text" th:field="*{name}" /> <label for="name">Nombre
											del lugar</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input type="text" th:field="*{latitude}" /> <label
											for="name">Latitud del lugar</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input type="text" th:field="*{longitude}" /> <label
											for="name">Longitud del lugar</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input type="text" th:field="*{distance}" /> <label
											for="name">Distancia de alerta</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<select th:field="*{country}">
											<option value="" disabled="disabled" selected="selected">Selecciona un Pais</option>
											<option
												th:each="code : ${T(com.bericotech.clavin.gazetteer.CountryCode).values()}"
												th:value="${code}" th:text="${code.name}"></option>
										</select><label>Pais</label>
									</div>
								</div>

								<p>
									<button class="btn" type="submit">Enviar</button>
									<a th:if="${location.id!=null}" class="btn right"
										th:href="@{/admin/locations}" href="#">Cancelar</a>
								</p>
							</form>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="col s10 offset-s1">
				<table class="hoverable">
					<thead>
						<tr>
							<td>Nombre</td>
							<td>Latitud</td>
							<td>Longitud</td>
							<td>Distancia (km)</td>
							<td>Editar</td>
							<td>Borrar</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="loc : ${allLocations}">
							<td th:text="${loc.name}">Pescados manolo</td>
							<td th:text="${loc.latitude}">4.5234</td>
							<td th:text="${loc.longitude}">-2.5653</td>
							<td th:text="${loc.distance}">100km</td>
							<td><a href="#"
								th:href="@{/admin/locations/get/{id}/edit(id=${loc.id})}"><i
									class="mdi-editor-mode-edit"></i></a></td>
							<td><a class="confirm" href="#"
								th:href="@{/admin/locations/get/{id}/remove(id=${loc.id})}"><i
									class="mdi-action-delete"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	<footer th:include="base :: footer"> </footer>
	<script type="text/javascript">
		$(document)
				.ready(
						function() {
							$(".confirm")
									.confirm(
											{
												text : "¿Estas seguro de eliminar la localizaci&oacute;n seleccionada?",
												title : "Confirme la eliminaci&oacute;n",
												confirmButton : "Si, eliminar",
												cancelButton : "No, volver"
											});
						});
	</script>
</body>
</html>
