<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description"
	content="A front-end template that helps you build fast, modern mobile web apps." />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>GB FOODS: Sistema de Alertas</title>

<link
	href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
	rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://code.getmdl.io/1.1.1/material.deep_orange-orange.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css"
	rel="stylesheet" />
<link th:href="@{/static/css/style.css}" href="style.css"
	type="text/css" rel="stylesheet" media="screen,projection" />
<link th:href="@{/static/css/material.modal.css}"
	href="material.modal.css" type="text/css" rel="stylesheet" />
<link th:href="@{/static/css/material.snackbar.css}"
	href="material.modal.css" type="text/css" rel="stylesheet" />
<style>
#view-source {
	position: fixed;
	display: block;
	right: 0;
	bottom: 0;
	margin-right: 40px;
	margin-bottom: 40px;
	z-index: 900;
}
</style>
<!-- Wide card with share menu button -->
<style>
.demo-card-wide.mdl-card {
	width: 512px;
}

.demo-card-wide>.mdl-card__title {
	color: #fff;
    height: 330px;
    background: url("static/img/logo-color.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-origin: content-box;
}

.demo-card-wide>.mdl-card__menu {
	color: #fff;
}
</style>
</head>
<body>
	<div class="mdl-layout__container">
		<div
			class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header is-upgraded"
			data-upgraded=",MaterialLayout">
			<main
				class="mdl-layout__content mdl-color--grey-100 mdl-typography--text-center">
			<div class="doc-page mdl-grid">
				<div class="mdl-cell mdl-cell--4-col"></div>
				<!-- Your content goes here -->
				<form name="f" th:action="@{/login}" method="post">
					<div class="demo-card-wide mdl-card mdl-shadow--2dp">
						<div class="mdl-card__title">

						</div>
						<div class="mdl-card__supporting-text">
							<fieldset>
								<div th:if="${param.error}" class="alert alert-error">
									Invalid username and password.</div>
								<div th:if="${param.logout}" class="alert alert-success">You
									have been logged out.</div>
								<div class="mdl-textfield mdl-js-textfield">
									<label class="mdl-textfield__label" for="username">Username</label>
									<input class="mdl-textfield__input" type="text" id="username"
										name="username" />
								</div>
								<div class="mdl-textfield mdl-js-textfield">
									<label class="mdl-textfield__label" for="password">Password</label>
									<input class="mdl-textfield__input" type="password"
										id="password" name="password" />
								</div>
								<div>
									<input type="hidden" name="${_csrf.parameterName}"
										value="${_csrf.token}" />
									<div class="form-actions"></div>
								</div>
							</fieldset>

						</div>
						<div class="mdl-card__actions mdl-card--border">
							<button type="submit"
								class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Log
								in</button>
						</div>
						<div class="mdl-card__menu">
							<button
								class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
								<i class="material-icons">share</i>
							</button>
						</div>
					</div>
				</form>
			</div>
			</main>
			<footer>
				<!--  Scripts-->
				<script src="/webjars//jquery/2.1.3/jquery.min.js"></script>
				<script src="https://code.getmdl.io/1.1.1/material.min.js"></script>
			</footer>
			<div class="mdl-layout__obfuscator"></div>
		</div>
	</div>





















	<footer>
		<!--  Scripts-->
		<script th:src="@{/webjars/jquery/jquery.min.js}"
			src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://code.getmdl.io/1.1.1/material.min.js"></script>
	</footer>
</body>
</html>
