<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="base :: head">
</head>
<body>
	<header th:include="base :: header"> </header>
	<section class="container">
		<div class="row">
			<div class="col s12">
				<div class="card blue-grey darken-1">
					<div class="card-content white-text">
						<span sec:authorize="!hasRole('ROLE_ADMIN')" th:inline="text"
							class="card-title">[[${feed.name}]]</span> <span
							sec:authorize="hasRole('ROLE_ADMIN')" th:inline="text"
							class="card-title">[[${feed.name}]]<a class="confirm"
							th:href="@{/admin/feeds/get/{codeName}/remove(codeName=${feed.codeName})}"
							href="#"><i class="mdi-action-delete right tooltipped"
								data-position="bottom" data-delay="50" data-tooltip="Borrar"></i></a><a
							th:href="@{/admin/feeds/get/{codeName}/edit(codeName=${feed.codeName})}"
							href="#"><i class="mdi-editor-mode-edit right tooltipped"
								data-position="bottom" data-delay="50" data-tooltip="Editar"></i></a></span>
						<p>Mas informaci&oacute;n sobre el sitio</p>
					</div>
					<div sec:authorize="hasRole('ROLE_ADMIN')" class="card-action">
						<a id="update"	th:href="@{/admin/feeds/get/{codeName}/update(codeName=${feed.codeName})}"
							href="#">Actualizar</a>
						<a id="update"	th:href="@{/admin/feeds/get/{codeName}/test(codeName=${feed.codeName})}"
							href="#">Comprobar</a>
					</div>
				</div>
			</div>
		</div>
		<!--  
	<h1 th:if="${newsListAdd}!=null">Nuevas noticias añadidas</h1>
	<div th:if="${newsListAdd}!=null" th:each="news : ${newsListAdd}" class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<span th:text="${news.title}" class="card-title">Card Title</span>
					<p th:text="${news.description}">Descripción</p>
				</div>
			</div>
		</div>
	</div>
	-->

	</section>
	<footer th:include="base :: footer"> </footer>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#update").click(function() {
				$.get($(this).attr('href')+"/ajax", function(data) {
					if (data=="ok") {
						Materialize.toast('Actualizando fuente', 10000, 'light-green');
					} else {
						Materialize.toast('Ha ocurrido un error', 10000, 'red');
					}
				});
				return false;
			});
			$(".confirm").confirm({
					text: "¿Estas seguro de eliminar la fuente seleccionada?",
				    title: "Confirme la eliminaci&oacute;n",
				    confirmButton: "Si, eliminar",
				    cancelButton: "No, volver"});
		});
	</script>
</body>
</html>
