<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="base :: head">
</head>
<body>
	<div
		class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
		<header
			class="demo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600"
			th:replace="base :: menu-superior"> </header>
		<div
			class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-800 mdl-color-text--primary"
			th:include="base :: menu-izquierdo"></div>
		<main
			class="mdl-layout__content mdl-color--grey-100 mdl-typography--text-center mdl-grid"
			th:fragment="alerts">
		<div id="alertas"
			class="mdl-card mdl-cell mdl-cell--10-col mdl-cell--1-offset mdl-shadow--4dp">
			<div class="mdl-card__title">
				<h2
					class="mdl-card__title-text mdl-color-text--primary text-underline">Alertas
					Sanitarias</h2>
			</div>
			<div class="mdl-grid mdl-card__supporting-text">
				<table
					class="mdl-cell mdl-cell--5-col mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
					<thead class="mdl-color--primary">
						<tr>
							<th
								class="mdl-data-table__cell--non-numeric mdl-color-text--white"
								colspan="2" th:inline="text">Hoy ([[${#dates.format(hoy, 'dd/MMM/yyyy')}]])</th>
						</tr>
						<tr>
							<th
								class="mdl-data-table__cell--non-numeric mdl-color-text--white">Nombre
								Alerta</th>
							<th
								class="mdl-data-table__cell--non-numeric mdl-color-text--white">Score</th>
						</tr>
					</thead>
					<tbody>
						<tr th:unless="${#lists.isEmpty(alertsScoreToday)}" th:each="alert,stat : ${alertsScoreToday}" th:class="${stat.count}%2==0?'table-par':'table-impar'" class="table-impar">
							<td class="mdl-data-table__cell--non-numeric"><a th:text="${alert[1]}" th:href="@{/alerts/get/{id}(id=${alert[0]})}">Acrylic</a></td>
							<td th:text="${#numbers.formatDecimal(alert[4],1,2)}">250</td>
						</tr>
						<tr th:if="${#lists.isEmpty(alertsScoreToday)}" class="table-impar">
							<td class="mdl-data-table__cell--non-numeric" colspan="2">Hoy no hay alertas</td>
						</tr>
					</tbody>
				</table>
				<table
					class="mdl-cell mdl-cell--5-col mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
					<thead class="mdl-color--primary">
						<tr>
							<th
								class="mdl-data-table__cell--non-numeric mdl-color-text--white"
								colspan="2" th:inline="text">Esta semana ([[${#dates.format(hoy, 'dd/MMM/yyyy')}]] - [[${#dates.format(semana, 'dd/MMM/yyyy')}]])</th>
						</tr>
						<tr>
							<th
								class="mdl-data-table__cell--non-numeric mdl-color-text--white">Nombre
								Alerta</th>
							<th
								class="mdl-data-table__cell--non-numeric mdl-color-text--white">Score</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="alert,stat : ${alertsScoreWeek}" th:class="${stat.count}%2==0?'table-par':'table-impar'" class="table-impar">
							<td class="mdl-data-table__cell--non-numeric"><a th:text="${alert[1]}" th:href="@{/alerts/get/{id}(id=${alert[0]})}">Acrylic</a></td>
							<td th:text="${#numbers.formatDecimal(alert[4],1,2)}">250</td>
						</tr>
					</tbody>
				</table>
				<div class="mdl-cell mdl-cell--2-col">
					<a th:href="@{/alerts}"
						class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored alerta-boton">View</a>
					<a th:href="@{/alerts}"
						class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored alerta-boton">List</a>
				</div>
			</div>
		</div>
		<div id="riesgos"
			class="mdl-card mdl-cell mdl-cell--10-col mdl-cell--1-offset mdl-shadow--4dp">
			<div class="mdl-card__title">
				<h2
					class="mdl-card__title-text mdl-color-text--primary text-underline">Riesgos</h2>
			</div>
			<div class="mdl-grid mdl-card__supporting-text">
				<table
					class="mdl-cell mdl-cell--5-col mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
					<thead class="mdl-color--primary">
						<tr>
							<th
								class="mdl-data-table__cell--non-numeric mdl-color-text--white"
								colspan="3" th:inline="text">Hoy ([[${#dates.format(hoy, 'dd/MMM/yyyy')}]])</th>
						</tr>
						<tr>
							<th
								class="mdl-data-table__cell--non-numeric mdl-color-text--white">Nombre
								Riesgo</th>
							<th
								class="mdl-data-table__cell--non-numeric mdl-color-text--white">Tipo</th>
							<th
								class="mdl-data-table__cell--non-numeric mdl-color-text--white">Score</th>
						</tr>
					</thead>
					<tbody>
						<tr th:unless="${#lists.isEmpty(risksScoreToday)}" th:each="alert,stat : ${risksScoreToday}" th:class="${stat.count}%2==0?'table-par':'table-impar'" class="table-impar">
							<td class="mdl-data-table__cell--non-numeric"><a th:text="${alert[1]}" th:href="@{/risks/get/{id}(id=${alert[0]})}">Acrylic</a></td>
							<td>Edulcorante</td>
							<td th:text="${#numbers.formatDecimal(alert[4],1,2)}">250</td>
						</tr>
						<tr th:if="${#lists.isEmpty(risksScoreToday)}" class="table-impar">
							<td class="mdl-data-table__cell--non-numeric" colspan="3">Hoy no hay riesgos</td>
						</tr>
					</tbody>
				</table>
				<table
					class="mdl-cell mdl-cell--5-col mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
					<thead class="mdl-color--primary">
						<tr>
							<th
								class="mdl-data-table__cell--non-numeric mdl-color-text--white"
								colspan="3" th:inline="text">Esta semana ([[${#dates.format(hoy, 'dd/MMM/yyyy')}]] - [[${#dates.format(semana, 'dd/MMM/yyyy')}]])</th>
						</tr>
						<tr>
							<th
								class="mdl-data-table__cell--non-numeric mdl-color-text--white">Nombre
								Riesgo</th>
							<th
								class="mdl-data-table__cell--non-numeric mdl-color-text--white">Tipo</th>
							<th
								class="mdl-data-table__cell--non-numeric mdl-color-text--white">Score</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="alert,stat : ${risksScoreWeek}" th:class="${stat.count}%2==0?'table-par':'table-impar'" class="table-impar">
							<td class="mdl-data-table__cell--non-numeric"><a th:text="${alert[1]}" th:href="@{/risks/get/{id}(id=${alert[0]})}">Acrylic</a></td>
							<td>Edulcorante</td>
							<td th:text="${#numbers.formatDecimal(alert[4],1,2)}">250</td>
						</tr>
					</tbody>
				</table>
				<div class="mdl-cell mdl-cell--2-col">
					<a th:href="@{/risks}"
						class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored alerta-boton">View</a>
					<a th:href="@{/risks}"
						class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored alerta-boton">List</a>
				</div>
			</div>
		</div>
		<div id="web"
			class="mdl-card mdl-cell mdl-cell--10-col mdl-cell--1-offset mdl-shadow--4dp">
			<div class="mdl-card__title">
				<h2
					class="mdl-card__title-text mdl-color-text--primary text-underline">Estadisticas
					web</h2>
			</div>
			<div class="mdl-card__supporting-text mdl-grid">
				<table
					class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
					<thead class="mdl-color--grey">
						<tr>
							<th
								class="mdl-data-table__cell--non-numeric mdl-color-text--white">Fecha
								y Hora</th>
							<th
								class="mdl-color-text--white">#Noticias</th>
							<th
								class="mdl-color-text--white">#Alertas</th>
							<th
								class="mdl-color-text--white">#Riesgos</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="scrap,stat : ${scrapStat}" th:class="${stat.count}%2==0?'table-par':'table-impar'" class="table-impar">
							<td class="mdl-data-table__cell--non-numeric" th:text="${scrap.fecha}">Acrylic
								(Transparent)</td>
							<td th:text="${scrap.noticias}">250</td>
							<td th:text="${scrap.alertas}">250</td>
							<td th:text="${scrap.riesgos}">60</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="lugares"
			class="mdl-card mdl-cell mdl-cell--10-col mdl-cell--1-offset mdl-shadow--4dp">
			<div class="mdl-card__title">
				<h2
					class="mdl-card__title-text mdl-color-text--primary text-underline">Nivel
					de alerta de proveedores</h2>
			</div>
			<div class="mdl-card__supporting-text mdl-grid">
				<table
					class="mdl-cell mdl-cell--6-col mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
					<thead class="mdl-color--grey">
						<tr>
							<th
								class="mdl-data-table__cell--non-numeric mdl-color-text--white">Proveedor</th>
							<th
								class="mdl-data-table__cell--non-numeric mdl-color-text--white">Nivel
								de Alerta</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-impar">
							<td class="mdl-data-table__cell--non-numeric">Acrylic
								(Transparent)</td>
							<td>250</td>
						</tr>
						<tr class="table-par">
							<td class="mdl-data-table__cell--non-numeric">Plywood
								(Birch)</td>
							<td>50</td>
						</tr>
						<tr class="table-impar">
							<td class="mdl-data-table__cell--non-numeric">Laminate (Gold
								on Blue)</td>
							<td>10</td>
						</tr>
					</tbody>
				</table>
				<div class="mdl-cell mdl-cell--6-col">Mapa</div>
			</div>
		</div>
		</main>
		<footer th:include="base :: footer"> </footer>
	</div>
</body>
</html>
